.title {
  letter-spacing: 0.05em;
}

.btn-group > .btn {
  // why is this necessary??
  margin-right: 0;
}

.alert {
  h2:first-child, h3:first-child, h4:first-child {
    margin-top: 0;
  }
}

header .navbar-nav {
  float: right;
  font-size: 16px;
  margin-right: 5px;
  margin-top: 5px;
  > li > a {
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    padding: 10px 10px 8px;
    text-decoration: none;
    &:hover, &:focus, &:active {
      background: initial;
      border-color: #fff;
      text-decoration: underline;
    }
  }
}
