{% extends "bcgov.index.html" %}
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static "css/admin.css" %}">
{% endblock %}

{% block header %}
<header>
  <div class="container">
    <a href="http://www2.gov.bc.ca/" tabindex="-1">
      <img class="header-logo"
           tabindex="-1" alt="B.C. Government Logo"
           src="{% static "img/bc-logo.svg" %}">
    </a>
    <span class="title" role="banner"> Administrative Platform </span>
  </div>
  <!-- <div class="background" filter-color="#black" style="background-image: url('../static/img/Admin.jpg'); background-size: cover;"></div> -->
</header>
{% endblock %}
{% block content %}
    <main class="container page-content background">
    <!-- <div class="background" filter-color="#black" style="background-image: url('../static/img/Admin.jpg'); background-size: cover; background-position: center;">
    </div>                 -->
    <!-- <div class="row">
        <div class="col-sm-10 col-sm-push-1">
            <h2>{{ description_admin }}</h2>
            {% for form in forms %}
                {% include "adminstrative.form.html" %}
            {% endfor %}
        </div>
    </div> -->
    </main>
{% endblock %}

