{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block includes %}

    <link rel="shortcut icon" href="{% static "img/govid-logo.ico" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <script type="text/javascript">
       THE_ORG_BOOK_APP_URL = '{{ THE_ORG_BOOK_APP_URL }}'
    </script>

    {% for include in css_includes %}
        <link rel="stylesheet" href="{% static include.src %}">
    {% endfor %}
    {% endblock %}
    {% block extrahead %}
    <link rel="stylesheet" href="{% static "css/govid.css" %}">
    {% endblock %}
    {% endblock %}
    <script type="text/javascript">
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    </script>
</head>
<body>

    {% block header %}
    <div class="jumbotron jumbotron-fluid govid-banner" ></div>
    {% endblock %}

    {% block content %}
    <main class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-push-1">
          {% for form in forms %}
          {% include "bootstrap.form.html" %}
          {% endfor %}
        </div>
      </div>
    </main>
    {% endblock %}

    {% block footer %}
    {% endblock %}
    </div>

    <!-- Scripts for bootstrap 4 -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Use moment.js for date string formatting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" type="text/javascript" charset="utf-8" async defer></script>

    <script src="{% static "js/main.js" %}"></script>
    {% for include in js_includes %}
    <script src="{% static include.src %}"></script>
    {% endfor %}
</body>
</html>

