{% extends "bcgov.index.html" %}
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static "css/neutral.css" %}">
  <link rel="stylesheet" href="{% static "css/surrey.css" %}">
{% endblock %}

{% block header %}
  <header class="surrey">
    <div class="container">
      <nav id="tools" class="tools">
        <div id="toolHolder" class="tools-wrapper">
          <h2 class="block-title">Tools Menu</h2>
          <ul id="toolsList">
              <li><a href="/city-government/599.aspx" tabindex="8">Jobs + Careers</a></li>
              <li><a href="/city-services/online-services.aspx" tabindex="9">Online Services</a></li>
              <li><a href="/city-services/667.aspx" tabindex="10">Report a Problem</a></li>
              <li><a href="/city-services/654.aspx" tabindex="11">Maps</a></li>
          <li><a tabindex="12" id="googleTranslate" href="#translate" style="z-index: 1;">Translate</a></li></ul>
        </div>
      </nav>
      <a href="https://www.surrey.ca/default.aspx" tabindex="-1">
        <img class="header-logo"
           tabindex="-1" alt="City of Surrey"
           src="{% static "img/surrey-logo.png" %}">
      </a>
    </div>
  </header>
{% endblock %}


{% block footer %}
{% endblock %}
