{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
    <script src="{% static "js/main.js" %}"></script>
    
</head>
<body>
    <h1>{{ title }}</h1>
    <h2>{{ description }}</h2>
    <p>{{ explanation }}</p>

    {% for form in forms %}
        <h3>{{ form.title }}</h3>
        <form action="/submit_claim" method="post" accept-charset="utf-8" name="{{ form.for_schema }}">
            <input type="hidden" name="schema" value="{{ form.for_schema }}">
            {% for input in form.inputs %}
                {% if input.type == "select" %}
                    <label>
                        {{ input.pretty }}
                        <br/>
                        <select
                            name="{{ input.name }}"
                            {% if input.multiple %}multiple{% endif %}
                            {% if input.required %}required{% endif %}>
                            {% for option in input.options %}
                                <option value="{{ option }}">
                                    {{ option }}
                                </option>
                            {% endfor %}
                        </select>
                    </label>
                {% else %}
                    <label>
                        {{ input.pretty | safe }}
                        <br />
                        {% if input.options %}
                            {% for option in input.options %}
                                <label>
                                    {{ option.pretty | safe }}
                                    <input
                                        type="{{ input.type }}"
                                        name="{{ input.name }}"
                                        placeholder="{{ input.pretty }}"
                                        value="{{ option.value }}"
                                        {% if input.required %}required{% endif %}
                                    >
                                </label>
                            {% endfor %}
                        {% else %}
                            <input
                                type="{{ input.type }}"
                                name="{{ input.name }}"
                                placeholder="{{ input.pretty }}"
                                {% if input.required %}required{% endif %}
                            >
                        {% endif %}
                    </label>
                {% endif %}
                <br />
                <br />
            {% endfor %}
            <input type="submit">
        </form>
    {% endfor %}
</body>
</html>
