@import "./dashboard.component.custom";

#dashboard {
  min-height: 50vh;
}

$input-border: rgba(128, 173, 210, 0.9);

.dashboard-title { margin-top: 0; font-size: 32px; }

.large-search {
  align-items: center;
  border: 2px solid $input-border;
  border-bottom-color: rgba($input-border, 0.7);
  border-radius: 25px;
  box-shadow: inset 0 1px 2px 2px rgba(0, 10, 30, 0.05);
  display: inline-flex;
  max-width: 100%;
  overflow: hidden;
  .fa {
    color: darken($input-border, 10%);
  }
  .fa, .load {
    flex: 0 0 46px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    width: 46px;
  }
  input {
    background: transparent;
    border: none;
    flex: 1 1 auto;
    font-size: 28px;
    line-height: 32px;
    outline: none;
    padding: 5px 0 5px 5px;
    margin: 0;
  }
  &.active {
    border-color: #5c8de6;
    box-shadow: 0 2px 4px 2px rgba(0, 10, 30, 0.1);
    .fa {
      color: #7290e9;
    }
  }
}

.search-type {
  margin: 15px auto 0 auto;
  max-width: 500px;
  width: 100%;
  .btn-group {
    display: flex;
    width: 100%;
    .btn {
      font-size: 1.8rem;
      flex: 1 0 auto;
      float: none;
      input {
        cursor: inherit;
        vertical-align: 1px;
      }
    }
  }
}

.stats {
  color: #036;
  font-size: 20px;
  list-style-type: none;
  padding: 0.4em;
  .stat {
    display: inline-block;
    padding: 0.1em 1em;
  }
  .numbers {
    color: #fcba19;
    font-size: 2.4rem;
    padding-right: 0.25em;
    text-shadow: 0 1px 1px rgba(0, 20, 50, 0.25);
  }
}

.results {
  border-bottom: 1px solid #ddd;
  font-size: 1.6rem;
  .row {
    border-top: 1px solid #ddd;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    &:nth-of-type(odd) {
      background-color: #f9f9f9;
    }
  }
  a {
    text-decoration: none;
  }
}

.results-nav {
  font-size: 1.6rem;
  padding: 1rem;
}

.results-none {
  font-size: 1.8rem;
  font-style: italic;
  padding: 1rem 0;
}

.map {
  font-size: 1.6rem;
  .map-image {
    border: 1px solid #ddd;
    background: url(/assets/map.png);
    background-size: cover;
    height: 40vw;
    width: 100%;
  }
}

