@import "./issuer.component.custom";

.issuer-title {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1em;
}
.title-back-link {
  display: block;
  font-size: 110%;
  text-decoration: none;
}

.issuer-info, .issuer-certs {
	font-size: 1.7rem;
}

.field-value + .field-value {
  margin-top: 0.7em;
}

.field-list {
  padding-left: 1em;
}

.cert {
  &-panel {
    background: transparent;
    border: 2px solid #e0e3e9;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    .panel-title {
      font-size: 1.8rem;
      a {
        text-decoration: none;
      }
    }
    .panel-heading {
      background-color: #eee;
    }
  }
}

