.header {
    padding-bottom: 20px;
    padding-top: 20px;
}
.background{ 
    width: 100%;
    height: 100%;
    /* border: 20px solid ;
    padding: 25px;         */
    /* background-image: url('./static/img/Admin.jpg'); */
    position: relative;
    /* background-size: cover; */
    background-image: url('../img/Admin.jpg'); background-size: cover; background-position: center;
}
.page-content {
	padding-bottom: auto;
}
.form {
    margin-top: auto;
}