.header-logo {
  width: 170px;
}

header {
  border-color: #e9eaee;
}

.tools {
    overflow: hidden;
    float: right;
    z-index: 1;
}

.tools:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.tools h2 {
    display: none;
}

.tools .tools-wrapper {
    display: block;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.tools ul {
    display: inline;
    overflow: hidden;
    margin: 0px 20px 0px 0px;
    padding: 0px;
    width: auto;
}

.tools li {
    float: left;
    display: inline;
    margin-bottom: 0px;
    width: auto;
}

.tools li a {
    display: block;
    margin: 0;
    padding: 0 10px;
    color: #6E767D;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    position: relative;
}

.tools li a:hover {
    color: #538300;
    text-decoration: underline;
}

