header.worksafe {
	background: #f1a223;
	padding-top: 10px;
    padding-bottom: 0;
}
.header-row {
	background: #fff;
    border-bottom: 1px solid #d7d7d7;	
	border-top-left-radius: 40px;
	padding-top: 25px;
    padding-bottom: 25px;
}
.header-bottom {
    background: #f2f2f2;
    border-bottom: 1px solid #d7d7d7!important;
    height: 48px;
    box-shadow: 0 3px 3px -2px #cecece;
}
