<footer>
  <nav class="navbar navbar-default navbar-footer navbar-static-bottom">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="http://www2.gov.bc.ca/gov/content/home/disclaimer" target="_blank" translate>app.footer.disclaimer</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_blank" translate>app.footer.privacy</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/accessibility" target="_blank" translate>app.footer.accessibility</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_blank" translate>app.footer.copyright</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/contact-us"
               target="_blank" translate>app.footer.contact</a></li>
      </ul>
    </div>
  </nav>
</footer>
