
.color-red {
	filter: sepia() hue-rotate(300deg) saturate(180%)
}
.color-blue {
	filter: sepia() hue-rotate(155deg) saturate(160%);
}
.color-green {
	filter: sepia() hue-rotate(50deg) saturate(160%);
}
.color-purple {
	filter: sepia() hue-rotate(200deg) saturate(160%);
}
.color-orange {
	filter: sepia() hue-rotate(330deg) saturate(160%);
}

.mrgn-tp-0 {
  margin-top: 0;
}
.mrgn-tp-sm {
  margin-top: 8px;
}
.mrgn-tp-md {
  margin-top: 1.5rem;
}
.mrgn-tp-lg {
  margin-top: 3rem;
}

.mrgn-bttm-0 {
  margin-bottom: 0;
}
.mrgn-bttm-sm {
  margin-bottom: 8px;
}
.mrgn-bttm-md {
  margin-bottom: 1.5rem;
}
.mrgn-bttm-lg {
  margin-bottom: 3rem;
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

$indicator-color: #666;
$indicator-size: 1em;
$indicator-thickness: 0.2em;
.loading-indicator {
	&, &:after {
		border-radius: 50%;
		width: $indicator-size;
		height: $indicator-size;
	}
	animation: spin 1.1s infinite linear;
	border: $indicator-thickness solid transparent;
	border-top-color: $indicator-color;
	line-height: 1;
	margin: 0 auto;
	position: relative;
	text-indent: -9999em;
	transform: translateZ(0);
	&:after {
		position: absolute;
		top: (- $indicator-thickness);
		left: (- $indicator-thickness);
		border: $indicator-thickness solid transparentize($indicator-color, 0.8);
		content: ' ';
	}
}

.page-load {
  font-size: 2rem;
}

.text-number {
	font-variant-numeric: lining-nums tabular-nums;
}

@keyframes loading {
    from {left: -100%; }
    to { left: 100%; }
}

.btn.loading {
  background-color: #ddd;
  border-color: #bbb;
  color: #666;
  cursor: wait;
  overflow: hidden;
  position: relative;
  text-shadow:0 2px 2px #fff;
  &::before {
    animation: loading 1s linear infinite;
    background-color: #2980b9;
    background: linear-gradient(to right, #ddd, #2980b9, #ddd);
    bottom: 0;
    content: "";
    height: 2px;
    left: -100%;
    position: absolute;
    width: 50%;
  }
}

