@import "../dashboard/dashboard.component";
@import "./roadmap.component.custom";

.col-sep-left {
  // should hide border on small screens
  border-left: 2px solid #55a;
}

.claim-heading .icon {
  padding-right: 0.2em;
}

.claim-body {
  font-size: 15px;
  .form-group {
    margin-bottom: 10px;
  }
}

.depends {
  border-top: 1px solid #ddd;
  margin-top: 0.5em;
  padding-top: 0.6em;
  .depends-items {
    list-style-type: none;
    padding-left: 2em;
  }
  .depends-item {
    padding-left: 0;
    margin-left: 0;
    margin-top: 0.6em;
    .icon {
      padding-right: 0.2em;
    }
    &.missing {
      .icon {
        color: #a44;
      }
    }
    &.found {
      .icon {
        color: #3a5;
      }
    }
  }
}

.roadmap-tree {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 800px;
  max-width: 90%;
}
