<section id="roadmap">

  <div class="row" *ngIf="! inited && ! error">
    <div class="col-sm-12 page-load">
      <div class="loading-indicator"></div>
    </div>
  </div>

  <section *ngIf="error" class="alert alert-danger">
    <h4 class="panel-title"><span class="fa fa-exclamation-triangle"></span> &nbsp;{{error}}</h4>
  </section>

  <h1 class="roadmap-title" *ngIf="inited">{{recipe.title}}</h1>

  <ng-container *ngIf="! orgRecord && inited">
    <div class="roadmap-tree mrgn-tp-lg mrgn-bttm-lg" *ngIf="recipe.tree">
      <roadmap-tree [tree]="recipe.tree" [data]="recipe.claimTypes" [horizontal]="false"></roadmap-tree>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-push-7" *ngIf="registerLink">
        <div class="well">
          <p class="lead">If your organization has not yet been incorporated, you may enroll with BC Registries here:</p>
          <a class="btn btn-lg btn-primary" [href]="registerLink + '?source=bcorgbook&lang=' + currentLang + '&recipe=' + recipeId"><span class="fa fa-sign-in"></span> {{'recipe.register-link' | translate}}</a>
        </div>
      </div>

      <div [class]="(registerLink ? 'col-md-7 col-md-pull-5' : 'col-md-8 col-md-offset-2')">
        <h2 class="text-center" translate>recipe.find-org-title</h2>

        <div class="search-outer text-center">
          <div class="large-search">
            <span class="fa fa-search" *ngIf="!loading"></span>
            <span class="load" *ngIf="loading"><div class="loading-indicator"></div></span>
            <input type="text" id="searchInput" name="query" size="40" [placeholder]="'search.placeholder'|translate" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" (input)="inputEvent($event)" (focus)="inputEvent($event)" (blur)="inputEvent($event)">
          </div>
          <div class="btn-toolbar search-type">
            <div class="btn-group">
              <label [class]="'btn btn-default btn-radio' + (searchType=='name' ? ' active' : '')">
                <input type="radio" name="search_type" value="name" [checked]="searchType=='name'" (click)="setSearchType($event)"> &nbsp;{{'search.by-name' | translate}}
              </label>
              <label [class]="'btn btn-default btn-radio' + (searchType=='location' ? ' active' : '')">
                <input type="radio" name="search_type" value="location" [checked]="searchType=='location'" (click)="setSearchType($event)"> &nbsp;{{'search.by-location' | translate}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="results mrgn-tp-lg" *ngIf="results.length || none">
      <label class="control-label" translate>search.results-title</label>
      <div *ngIf="searchType=='name' && !none">
        <div class="row" *ngFor="let record of results">
          <div class="col-sm-6">
            <a href="" routerLink="." [queryParams]="{record: record.id}">{{record.legalName}}</a><br>
            <small>{{record.type.description}}</small>
          </div>
          <div class="col-sm-6">
            {{record.primaryLocation.street}}<br>
            <small>{{record.primaryLocation.summary}}</small>
          </div>
        </div>
      </div>
      <div *ngIf="searchType=='location' && !none">
        <div class="row" *ngFor="let record of results">
          <div class="col-sm-6">
            <a href="" routerLink="." [queryParams]="{record: record.verifiableOrgId}">{{record.legalName}}</a><br>
            <small>{{record.type.locType}}</small>
          </div>
          <div class="col-sm-6">
            {{record.streetAddress}}<br>
            <small>{{record.municipality}}, {{record.province}}</small>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="none">
        <div class="col-sm-6 text-muted">
          <em translate>search.no-results</em>
        </div>
      </div>
    </div>

    <div class="row results-nav" *ngIf="more || less">
      <div class="col-sm-12 text-right">
        <ul class="pager">
          <li *ngIf="less">
            <a href="#" (click)="prev(); $event.preventDefault();">&lt;&lt; {{'general.prev-link' | translate}}</a>
          </li>
          <li *ngIf="more">
            <a href="#" (click)="next(); $event.preventDefault();">{{'general.next-link' | translate}} &gt;&gt;</a>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="orgRecord && inited">
    <div class="row">
      <div class="col-sm-8">
        <h2>{{this.orgRecord.legalName}}</h2>
      </div>
      <div class="col-sm-4 mrgn-tp-md text-right">
        <a href="" [routerLink]="['/org', recordId] | localize" class="btn btn-default"><span class="fa fa-arrow-right"></span> {{'recipe.org-view-link' | translate}}</a>
      </div>
    </div>

    <div class="row">
      <!-- div class="col-md-6 business-info">
        <div class="form-group">
          <label class="control-label" translate>org.identifier</label>
          <div class="form-field">
            {{orgRecord.orgId}}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" translate>org.type</label>
          <div class="form-field">
            {{orgRecord.typeName}}
          </div>
        </div>
      </div -->
      <div class="col-md-6 business-info">
        <div class="form-group">
          <label class="control-label" translate>org.location</label>
          <div class="form-field">
            <div class="field-value" *ngFor="let loc of locations">
              <!--small class="text-muted">{{loc.typeName}}</small><br-->
              <span *ngIf="loc.addressee != null">{{loc.addressee}}<br></span>
              {{loc.unitNumber && ('' + loc.unitNumber + '-')}}{{loc.streetAddress}}<br>
              {{loc.municipality}}, {{loc.province}}&nbsp; {{loc.postalCode}}<br>
              {{loc.country}}
            </div>
            <div *ngIf="!locations.length">
              <em class="text-muted" translate>general.none</em>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngFor="let claimType of recipe.claimTypes">
      <div class="col-sm-10 col-sm-push-1">
        <div class="panel panel-primary">
          <div class="panel-heading claim-heading">
            <h2 class="panel-title">
              <span class="fa fa-check-circle icon" *ngIf="claimType.cert"></span>
              <span class="claim-title">{{ claimType.title }}</span>
            </h2>
          </div>
          <div class="panel-body claim-body" *ngIf="claimType.cert">
            <div class="row form-group">
              <label class="col-sm-4 control-label" translate>cert.issuer</label>
              <div class="col-sm-8 form-field">
                <a *ngIf="claimType.cert.type.issuerURL" [href]="claimType.cert.type.issuerURL" rel="external">
                  {{claimType.cert.issuer.name}}</a>
                <small><span class="fa fa-external-link"></span></small>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-4 control-label" translate>cert.effective-date</label>
              <div class="col-sm-8 form-field">
                {{claimType.cert.effectiveDate || '-'}}
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-4 control-label" translate>cert.expiry-date</label>
              <div class="col-sm-8 form-field">
                {{claimType.cert.endDate || '-'}}
              </div>
            </div>
          </div>
          <div class="panel-body claim-body empty" *ngIf="! claimType.cert">
            <em class="text-muted">{{ (claimType.altText || 'recipe.cert-not-found') | translate }}</em>
            <div class="depends" *ngIf="claimType.depends">
              <h4 class="depends-title text-muted" translate>recipe.cert-depends-on</h4>
              <ul class="depends-items">
                <li [class]="'depends-item ' + (recipe.claimTypes[idx].cert ? 'found' : 'missing')" *ngFor="let idx of claimType.depends">
                  <span class="fa fa-check-circle icon" *ngIf="recipe.claimTypes[idx].cert"></span>
                  <span class="fa fa-times icon" *ngIf="! recipe.claimTypes[idx].cert"></span>
                  {{ recipe.claimTypes[idx].title }}
                </li>
              </ul>
            </div>
          </div>
          <div class="panel-footer text-right" *ngIf="claimType.cert">
            <a href="" [routerLink]="['/org', recordId, 'cert', claimType.cert.id] | localize" class="btn btn-default"><span class="fa fa-arrow-right"></span> {{ (claimType.linkText || 'recipe.cert-view-link') | translate }}</a>
          </div>
          <div class="panel-footer text-right" *ngIf="! claimType.cert">
            <a [href]="claimType.regLink + '?source=bcorgbook&source_id='+recordId+'&org_id='+orgRecord.orgId+'&lang='+currentLang+'&recipe='+recipeId" class="btn btn-default"><span class="fa fa-sign-in"></span> {{ claimType.regText }}</a>
          </div>
        </div>
      </div>
    </div>

  </ng-container>

</section>
