.business-title {
  font-size: 3rem;
  margin-top: 0;
}
.title-back-link {
  display: block;
  font-size: 110%;
  text-decoration: none;
}

.business-info, .business-certs {
  font-size: 1.7rem;
}

.business-badge img {
  filter: sepia() hue-rotate(310deg) saturate(140%) contrast(95%);
  margin-bottom: 1rem;
}

.field-value + .field-value {
  margin-top: 0.7em;
}

.field-list {
  padding-left: 1em;
}

.certs-outer {
  display: flex;
  flex-flow: row wrap;
  margin: 8px -6px 0;
}
.cert {
  display: flex;
  flex: 1 0 33.3%;
  flex-flow: column nowrap;
  outline: none;
  min-width: 180px;
  max-width: 33.3%;
  padding: 0 6px;
  .cert-image {
    img {
      display: block;
      height: auto;
      margin: 0 auto;
      width: 100%;
    }
  }
  &-panel {
    background: transparent;
    border: 2px solid #e0e3e9;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    .panel-title {
      font-size: 1.8rem;
      a {
        text-decoration: none;
      }
    }
    .panel-heading {
      background-color: #eee;
    }
  }
  &-main {
    display: flex;
    flex-flow: row nowrap;
  }
  &-info {
    flex: 1 1 auto;
  }
  &-image {
    flex: 0 0 40%;
  }
  &-others {
    flex: 1 0 auto;
    .other-link {
      text-decoration: none;
      &:hover, &:focus {
        label {
          border-color: #5260c9;
          box-shadow: 0 2px 1px 2px rgba(0, 10, 40, 0.05);
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .cert {
    flex: 1 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .cert {
    flex: 0 0 100%;
    max-width: none;
  }
}
